absl-py==1.4.0
aiohttp==3.7.4.post0
alabaster==0.7.13
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
boto3==1.26.137
botocore==1.29.137
cachetools==5.3.0
cairocffi==1.5.0
CairoSVG==2.7.0
camelcase==0.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
cryptography==40.0.2
csc==22.2.0
cssselect2==0.7.0
customtkinter==5.1.2
cycler==0.11.0
Cython==0.29.34
darkdetect==0.7.1
databricks-cli==0.17.7
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
docutils==0.19
entrypoints==0.3
et-xmlfile==1.1.0
factory-boy==3.2.1
Faker==18.4.0
fastjsonschema==2.16.3
flatbuffers==23.5.9
fonttools==4.28.2
fpdf==1.7.2
fqdn==1.5.1
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
grpcio-tools==1.48.2
h5py==3.8.0
humanize==4.6.0
iconify==0.0.103
idna==2.10
imageio==2.28.1
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==6.5.0
ipykernel==6.4.1
ipyparallel==8.6.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jax==0.4.10
jedi==0.18.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.12.0
kids.cache==0.0.7
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.3.2
layer==0.10.3150493728
layer-api==0.9.384528
lazy_loader==0.1rc3
libclang==16.0.0
libsass==0.22.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mask-rcnn==2.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.1.0
mlflow-skinny==2.3.2
mock==5.0.1
mrcnn==0.2
multidict==6.0.4
mysql==0.0.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
nbclassic==1.0.0
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nose==1.3.7
notebook==6.5.4
notebook-as-pdf==0.5.0
notebook_shim==0.2.3
numpy==1.23.5
nvsmi==0.4.2
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
polling==0.3.2
prometheus-client==0.16.0
prompt-toolkit==3.0.20
protobuf==3.19.6
psutil==5.9.5
pyarrow==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyee==8.2.2
pyfiglet==0.8.post1
Pygments==2.15.1
PyJWT==2.7.0
pyparsing==3.0.6
PyPDF2==3.0.1
pypiwin32==223
pyppeteer==1.0.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.9.3.3
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2021.3
PyWavelets==1.4.1
pywin32==301
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
QT-PyQt-PySide-Custom-Widgets==0.6.4
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtconsole==5.4.3
QtPy==2.3.1
qtsass==0.4.0
requests==2.30.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rsa==4.9
s3transfer==0.6.1
scikit-image==0.20.0
scikit-learn==1.1.3
scipy==1.9.1
Send2Trash==1.8.2
setuptools-scm==6.3.2
shapely==2.0.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
statsmodels==0.13.5
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tomli==1.2.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing==3.7.4
typing_extensions==4.5.0
uri-template==1.2.0
urllib3==1.26.15
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.2
websockets==10.4
Werkzeug==2.3.4
widgetsnbextension==4.0.7
wrapt==1.14.1
yarl==1.9.2
zipp==3.15.0
